/* Responsive layout. Controlled by main/grid/grid.js. */




/* HTML, BODY AND ARTICLE */

html, body, #main {
    width: 100%; height: 100%;
    margin: 0;
}

article {
    display: grid;
    min-height: 100%;
    grid-template-rows: 50px 0.25fr 1fr 0.5fr 50px;
    grid-template-columns: repeat(5, 1fr);
    background: red;
}

@media (max-width: 590px) {
    article {
        grid-template-rows: 50px repeat(7, 0.25fr) 50px;
    }
}

@media (min-width: 591px) {
    article {
        grid-template-rows: 50px 0.25fr 1fr 0.5fr 50px;
    }
}




/* HEADER, USER AND FOOTER */

#header {
    grid-column-start: 1;
    grid-column-end: 5;
    background: silver;
}
#user {
    grid-column-start: 5;
    grid-column-end: 6;
    background: lime;
}
#footer {
    grid-column-start: 1;
    grid-column-end: 6;
    background: silver;
}




/* GRID */

.top, .middle, .bottom {
    min-height: 100px;
}

@media (max-width: 590px) {
    .left, .left1, .left2, .right {
        grid-column-start: 1;
        grid-column-end: 6;
    }
}

@media (min-width: 591px) {
    .top {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .middle {
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .bottom {
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .left {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .left1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .left2 {
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .right {
        grid-column-start: 4;
        grid-column-end: 6;
    }
}

#meta {
    background: cyan;
}

#standard-assets {
    background: yellow;
}

#custom-assets {
    background: cyan;
}

#code-editor {
    background: silver;
}

#config-gui {
    background: lime;
}

#preview {
    background: yellow;
}

#menu-and-cli {
    background: lime;
}




/* POPUP */

#popup {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #0009;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}
body.show-popup #popup {
    visibility: visible;
    opacity: 1;
}
#popup >div {
    position: absolute;
    height: 70vh;
    margin: 10vh 0 0 50vw;
    padding: 0;
    background: #fff9;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}
#popup >div.show {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 590px) {
    #popup >div {
        width: 276px;
        left: -138px;
    }
}
@media (min-width: 591px) {
    #popup >div {
        width: 552px;
        left: -276px;
    }
}
