/* Fonts and text. */




/* FONT */

body {
    font-family: 'Ubuntu', sans-serif;
}
pre, tt, code, kbd, samp, var {
    font-family: 'Ubuntu Mono', monospace;
}




/* SIZE */

h1,h2, h3, h4, h5, h6, p, pre {
    margin: 0.2em 5px;
}
